// Site Navigation Styles
// ========================================
$mobile-nav-height: 58px;
$desktop-nav-height: 67px;

.navigation {
  background-color: $white-base;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  @include rem(padding, 15px 20px);
  position: relative;
  text-align: center;
  width: 100%;
}

.index{
  .navigation{
    background-color: $white-base;
    box-shadow: none;

    @include media($tablet){
      background-color: transparent;
    }

    &.active{
      background-color: $white-base;
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }
  }
}

.navigation .nav-container{
  @include rem(padding, 0px 20px);

  @include media($tablet){
    @include rem(padding, 0px 20px);
  }

  @include media($tablet-landscape){
    @include rem(padding, 0px 40px);
  }
}

/*-----------------------
Logo
-----------------------*/
.logo{
  width: 120px;

  @include media($tablet){
    float: left;
    width: 130px;
    z-index: 99999;
  }
}

/*-----------------------
Primary Nav
-----------------------*/
.navigation{
  @include position(fixed, 0 null null null);
  @include transition(all 0.3s ease-in-out);
  width: 100%;
  z-index: 9999;

  .navigation-menu{
    float: right;
    text-align: right;

    @include media($tablet){
      @include rem(margin-top, 5px);
    }
  }

  li {
    display: inline-block;
    @include rem(margin, 0 0 0 15px);
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;

    a{
      color: $white-base;
      font-weight: $bold;
      @include s-small;
      letter-spacing: 1px;

      &:hover{
        opacity: 0.6;
      }

      @include media($tablet){
        color: $black-dark;
      }
    }
  }
}


/*-----------------------
Mobile Nav
-----------------------*/
